.wrapper-about {
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
}

.about-column {
  width: calc(50% - 60px);

  @media (max-width: 991px) {
    width: calc(50% - 15px);
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.about-column-content {
  width: 470px;
  padding-left: 100px;
  max-width: 100%;
  position: relative;

  @media (max-width: 991px) {
    width: 100%;
    padding-left: 30px;
  }
  @media (max-width: 767px) {
    padding-left: 0px;
  }

  .section-name {
    position: absolute;
    top: -20px;
    left: -40px;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.about-title {
  margin-bottom: 35px;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }

  &.about-title-mission {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }
}

.mission {
  padding-top: 560px;

  @media (max-width: 991px) {
    padding-top: 145px;
  }
  @media (max-width: 767px) {
    padding-top: 50px;
  }
}
