.banner-container {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;

  &:after {
    content: '';
    width: 9px;
    height: 52px;
    background:transparent url('../images/scroll-down.png') center top no-repeat;
    position: absolute;
    bottom: 5vh;
    left: calc(50% - 4px);

    @media (max-width: 767px) {
      bottom: 2vh;
    }
  }
}

.banner {
  height: 100vh;
  width: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content {
  margin-top: 50vh;
  width: 600px;
  max-width: 100%;
  transform: translateY(-50%);
}
.banner-text {
  width: 400px;
  max-width: 100%;
  margin-bottom: 40px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}


// Carousel Dots
.banner-container {

  .owl-dots {
    width: 1160px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);

    @media (max-width: 767px) {
      bottom: 10px;
    }
  }
  button.owl-dot {
    position: relative;
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #34373B;
    margin-right: 15px;
    opacity: 0.7;
    transition: all .2s ease-out;

    &:after {
      content: '';
      width: 164%;
      height: 164%;
      position: absolute;
      top: -32%;
      left: -32%;
      border: 1px solid #34373B;
      border-radius: 50%;
      opacity: 0;

      @media (max-width: 767px) {
        display: none;
      }
    }

    &.active,
    &:hover {
      opacity: 1;

      &:after {
        opacity: 1;
      }
    }
  }
}
