.blog {
  .wrapper {
    position: relative;

    .section-name {
      position: absolute;
      top: -50px;
      left: -40px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.post {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}
.post-share {
  float: left;
  width: 40px;

  @media (max-width: 767px) {
    float: none;
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
}
.post-share-item {
  display: block;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    display: inline-block;
    margin: 0 10px;
  }
}
.post-content {
  float: right;
  width: calc(100% - 70px);

  @media (max-width: 767px) {
    float: none;
    width: 100%;
  }
}
.post-date {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  display: block;
  margin-bottom: 20px;
  color: #BFC2C5;
  text-transform: uppercase;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}
.post-title {
  font-size: 36px;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.read-more,
.more-link {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #3AB6B3;
  font-weight: bold;

  &:hover {
    color: #3AB6B3;
  }
}


.more-posts {
  margin-top: 90px;

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  &.wrapper {
    flex-direction: column;
  }
}
.more-posts-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.posts-list-item {
  display: flex;
  flex-direction: row;
  height: 245px;
  margin-bottom: 30px;
  background-color: #F3F3F3;
  text-decoration: none;

  &:hover {
    color: #747980;
  }

  @media (max-width: 767px) {
    flex-flow: wrap;
    height: inherit;
  }

}
.posts-list-img {
  width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (max-width: 991px) {
    width: 200px;
  }
  @media (max-width: 767px) {
    width: 100%;
    height: 200px;
  }
}
.posts-list-content {
  padding: 40px;
  width: calc(100% - 500px);

  @media (max-width: 991px) {
    width: calc(100% - 200px);
  }
  @media (max-width: 767px) {
    width: calc(100%);
    padding: 20px;
    font-size: 16px;
  }
}
.posts-list-date {
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: #34373B;
  margin-bottom: 30px;
  text-transform: uppercase;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}
.posts-list-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #34373B;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}
