.btn {
  display: inline-block;
  text-decoration: none;
  padding: 20px 40px 18px 40px;
  transition: all .3s ease-out;
  background-color: #3AB6B3;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50px;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: #fff;
    color: #34373B;
  }

  &.btn-white {
    background-color: #fff;
    color: #34373B;

    &:hover {
      color: #fff;
      background-color: #3AB6B3;
    }
  }
}
