.contact {
  .wrapper {
    position: relative;

    .section-name {
      position: absolute;
      top: -50px;
      left: -40px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.contact-text {
  width: 500px;
  margin-left: 200px;
  margin-bottom: 90px;

  @media (max-width: 991px) {
    margin: 0 auto 90px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 50px;
  }

  label {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  br {
    display: none;
  }
  .form-control {
    display: block;
    width: 100%;
    border: solid 1px #8A8F93;
    border-radius: 50px;
    padding: 20px 35px;
    font-size: 18px;

    &.textarea {
      border-radius: 25px;
    }
  }

  .btn-primary {
    float: right;

    @media (max-width: 767px) {
      float: none;
    }
  }

  .form-cheks {
    float: left;

    @media (max-width: 767px) {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.wpcf7-validation-errors,
.wpcf7-mail-sent-ok {
  display: none;
}
.screen-reader-response,
.wpcf7-not-valid-tip {
  color: #3AB6B3;
}
.wpcf7-not-valid-tip {
  font-size: 12px;
}