.footer {
  padding: 90px 0;
  background-color: #7C878C;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 265px;
  max-width: 24%;

  &:first-of-type {
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 60px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.footer-rights {
  font-size: 14px;
}
.footer-title {
  margin-bottom: 25px;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}
.footer-logo {
  margin-bottom: 20px;
}
