.home-blog {

  @media (max-width: 991px) {
    padding: 80px 0;
  }
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 991px) {
      justify-content: center;
    }
  }
}
.home-blog-bg {
  width: calc(100% - 500px);
  position: relative;

  @media (max-width: 991px) {
    width: 415px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }

  img {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 991px) {
      position: relative;
      top: inherit;
      left: inherit;
      transform: translate(0);
    }
  }
}
.home-blog-content {
  position: relative;
  width: 415px;
  max-width: 100%;
  padding: 230px 0;

  @media (max-width: 991px) {
    padding: 30px 0 0px;
  }

  .section-name {
    position: absolute;
    top: 145px;
    left: -50px;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.home-blog-text {
  margin-bottom: 40px;
}
