.home-promotions {

  @media (max-width: 767px) {
    padding-bottom: 80px;
  }

  .wrapper {
    position: relative;
  }
  .section-name {
    position: absolute;
    top: 40px;
    left: -70px;

    @media (max-width: 991px) {
      display: none;
    }
  }

  .title {
    margin-top: 140px;
    margin-bottom: 130px;
    width: 560px;
    max-width: 100%;

    @media (max-width: 991px) {
      margin-top: 0px;
      margin-bottom: 50px;
    }
  }
}

.home-promotions-content {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}
.home-promotion {
  width: calc(33% - 50px);
  margin-bottom: 90px;

  &:last-of-type {
    margin-right: auto;
    margin-left: 30px;
  }
  &:nth-child(3n),
  &:nth-child(3n + 1) {
    margin-right: 0;
    margin-left: 0;
  }

  @media (max-width: 991px) {
    width: calc(33% - 20px);
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.home-promotion-num {
  position: relative;
  color: #1EAFAA;
  font-size: 36px;
  margin-bottom: 20px;

  &:after {
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #DCFAF8;
    position: absolute;
    z-index: -1;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
  }
}
.home-promotion-text {
  margin-bottom: 35px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.home-promotion-link,
.home-promotion-link:hover {
  color: #1EAFAA;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
