.home-contact {
  padding: 140px 0;

  @media (max-width: 767px) {
    padding: 80px 0;
  }
}
.home-contact-text {

  a {
    color: #3AB6B3;
    text-decoration: none;

    &:hover {
      color: #3AB6B3;
    }
  }
}
