.home-video {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #FFF;
  padding: 200px 0px;

  @media (max-width: 767px) {
    padding: 80px 0px;
  }

  .wrapper {
    flex-direction: column;
  }
}
.home-video-title {
  color: #fff;
  width: 420px;
  max-width: 100%;

  @media (max-width: 767px) {
    width: 420px;
  }
}
.home-video-text {
  width: 380px;
  max-width: 100%;
  margin: 10px 0 30px 0;

  @media (max-width: 767px) {
    width: 420px;
  }
}

// MODAL
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 7;
  display: none;

  &.active {
    display: block;
  }
}

.video-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
}

.video-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;

  img {
    display: block;
    width: 100%;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-modal {
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
