.internal-banner {
  width: 100%;
  height: 400px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 90px;

  @media (max-width: 991px) {
    background-position: right top;
  }
  @media (max-width: 767px) {
    height: 190px;
    margin-bottom: 50px;
  }
}
