.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menu {
  position: relative;
  z-index: 3;
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-item {
  display: inline-block;
  list-style: none;
  margin-right: 35px;
  font-size: 16px;

  &:last-of-type {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    transition: all .2s ease-out;

    &:hover {
      color: #747980;
      text-decoration: line-through;
    }
  }

  &.current_page_item {
    text-decoration: line-through;
  }
}

.menu-pages {
  display: inline-block;
  margin-right: 70px;
}

.menu-languages {
  display: inline-block;
  margin-right: 35px;

  .menu-item {
    margin-right: 10px;

    &.active,
    &:hover {
      text-decoration: line-through;
    }

    a {
      &:hover {
        color: #747980;
      }
    }
  }
}

.menu-close,
.menu-open {
  display: none;
  display: none;
}

// Responsive
@media (max-width: 1130px) {
  .menu-open {
    display: block;
    width: 40px;

    img {
      display: block;
      width: 100%;
    }
  }
  .menu-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 25px;
    width: 25px;

    img {
      display: block;
      width: 100%;
    }
  }
  .menu-list {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    transition: all .3s ease-out;
    transform: translateY(-100%);
    &.active {
      transform: translateY(0%);
    }
  }
  .menu-pages {
    display: block;
    width: 100%;
    margin: 0 0 40px 0;
  }
  .menu-item {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 22px;
  }

  .menu-languages {
    display: block;
    margin: 0 0 40px 0;

    .menu-item {
      width: auto;
      display: inline-block;
      margin: 0 10px 0px;
    }
  }
}

@media (max-width: 767px) {
  .menu {
    margin-top: 15px;
  }
  .logo {
    width: 100px;

    img {
      display: block;
      width: 100%;
    }
  }
  .menu-open {
    width: 30px;
  }

  .menu-list {
    text-align: left;
  }
}
