.section-name {
  position: relative;
  display: block;
  transform: rotate(-90deg);
  color: #BFC2C5;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  &:after {
    content: '';
    width: 100px;
    height: 1px;
    background-color: #BFC2C5;
    position: absolute;
    top: 6px;
    left: -110px;
  }
}
