.specialties {
  .wrapper {
    position: relative;

    .section-name {
      position: absolute;
      top: 0px;
      left: -40px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.specialties-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  width: 735px;
  max-width: 100%;
  margin: 50px auto 0;

  @media (max-width: 991px) {
    margin: 0px auto 0;
  }
}

.specialtie-item {
  width: calc(50% - 25px);
  margin-bottom: 90px;

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 50px;
  }

  .specialtie-title {
    font-size: 36px;
    font-weight: 300;
    color: #34373B;
    margin-bottom: 20px;
  }
  .specialtie-text {
    margin-bottom: 30px;
  }
  .specialtie-link {
    font-weight: bold;
    color: #3AB6B3;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 12px;
  }
}

