.team {
  margin-top: 90px;

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  .wrapper {
    flex-direction: column;
  }
}

.team-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;

  margin-top: 90px;

  @media (max-width: 767px) {
    margin-top: 50px;
  }
}
.team-member {
  width: calc(33% - 90px);
  margin-bottom: 90px;
  text-align: center;

  &:last-of-type {
    margin-right: auto;
    margin-left: 135px;
  }
  &:nth-child(3n),
  &:nth-child(3n + 1) {
    margin-right: 0;
    margin-left: 0;
  }

  @media (max-width: 1199px) {
    width: calc(33% - 50px);
    &:last-of-type {
      margin-left: 75px;
    }
  }
  @media (max-width: 991px) {
    width: calc(33% - 30px);
    &:last-of-type {
      margin-left: 45px;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 50px;
    &:last-of-type {
      margin-left: 0px;
    }
  }
}

.team-member-avatar {
  margin-bottom: 30px;

  img {
    display: block;
    width: 100%;
  }
}

.team-member-name {
  font-weight: bold;
  display: block;
  width: 100%;
}
.team-member-position {
  display: block;
  width: 100%;
}

