.title {
  font-size: 70px;
  line-height: 1.1;
  color: #34373B;
  font-weight: 300;
  margin: 0 0 10px 0;

  @media (max-width: 991px) {
    font-size: 60px;
  }
  @media (max-width: 767px) {
    font-size: 40px;
  }

  &.title-secondary {
    font-size: 56px;

    @media (max-width: 991px) {
      font-size: 50px;
    }
    @media (max-width: 767px) {
      font-size: 34px;
    }
  }
}

