.treatment {
  .wrapper {
    position: relative;

    .section-name {
      position: absolute;
      top: -50px;
      left: -40px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.treatment-text {
  width: 500px;
  margin-left: 200px;
  margin-bottom: 90px;

  @media (max-width: 991px) {
    margin: 0 auto 90px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 50px;
  }
}
