* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}
html {
  overflow-y: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Graphik';
  font-size: 18px;
  line-height: 1.5;
  color: #747980;

  @media (max-width: 991px) {
    font-size: 18px;
  }
}
p {
  margin: 0 0 25px;
}
a {
  color: #747980;
  text-decoration: underline;

  &:focus,
  &:visited,
  &:hover {
    outline: none;
    text-decoration: none;
  }
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
}
