.wrapper {
  width: 1160px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
}

.no-margin {
  margin: 0 !important;
}
.no-background {
  background: none !important;
}
.no-border {
  border: none !important;
}
.no-padding {
  padding: 0 !important;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.none {
  display: none !important;
}
.hidden {
  visibility: hidden !important;
}
.width {
  width: 100% !important;
}
.height {
  height: 100% !important;
}
